.App {
  text-align: center;
}
root{
  
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 6%;
}


.NavLink {

  text-decoration: none !important;
}



.Container {
  width: 75%;
  margin: auto;
}

.tabelcheclk {
  width: 95%;
  margin: auto;
}